.exp-physics-config-quality h2 {
    float:left;

}

.exp-physics-config-quality #not-recording-note {
    color:red;
    float:right;
}

.exp-physics-config-quality hr {
    clear:both;
}

.exp-physics-config-quality ul li {
    margin-top: 20px;
}

.exp-physics-config-quality .screenshot {
    display:block;
    margin:auto;
}

.exp-physics-config-quality .reload-warning {
    color: red;
}
