.exp-video-consent-prompt {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

.well.video-consent-prompt {
    background-color: #d4efdf;
}

.video-consent-main {
    padding-bottom: 10px;
}

.video-consent-main blockquote {
    border-left: 8px solid #d4efdf;
}

.video-consent-main .exp-consent-title {
    font-weight: bold;
}

.video-consent-doc p:not(.exp-text-medium) {
        font-size: 0.8em;
}

.video-consent-doc .exp-text-medium {
        font-size: 1.2em;
}

.video-consent-controls {
    padding-top: 15px;
    padding-right: 15px;
}


.video-consent-body * {
    text-align:left;
}



