.bucket {
    height: 300px;
    overflow: auto;
}

.item {
    cursor: move;
}

.card-container {
    height: 75px;
    overflow: hidden;
    padding: 10px;
}

.center {
    text-align:center;
}

.small-card {
    font-size: 10px;
}

.small-bucket {
    padding-right: 8px;
    padding-left: 8px;
}

.small-bucket .well {
    padding:10px;
}

.small-bucket .alert {
    padding: 10px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word; // support for original name: https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
}

.bucket-label-margin {
    margin-top: 40px;
}

.bucket-label {
    text-align: center;
    overflow-wrap: break-word;
}
