.exp-alternation.alternation-container {
    width:100vw;
    height:100vh;
    overflow:hidden;
    width: 100vw;
    height: 56.25vw; /* 100/56.25 = 1.778 */
    /*background: pink;*/
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.exp-alternation, .exp-alternation *
{
    margin:0;padding:0;
}


.exp-alternation video {
    margin:auto;
}

.exp-alternation video.attn {
    max-height: 30%;
}

#experiment-player.player-fullscreen.exp-alternation, #experiment-player.player-fullscreen.exp-alternation * {
    cursor: none;
}

#experiment-player.player-fullscreen div {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#experiment-player.player-fullscreen > div > div {
    display: table;
}

#experiment-player.player-fullscreen > div > div > div  {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

video.player-fullscreen::-webkit-media-controls {
  display:none !important;
}

.exp-alternation .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-alternation button {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
    padding: 10px;
}

#experiment-player:not(.player-fullscreen) video {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    display: block;
}

#videoWarningConfig {
    height: 500px;
    width: 80%;
    margin-left: 10%;
}
