.exp-video-setup-title {
    font-size: 2em;
    font-weight: bold;
}
.exp-video-setup-heading {
    font-size: 1.3em;
    font-weight: bold;
}

.exp-physics-config #not-recording-note {
    float: right;
}

.exp-physics-config p {
    float:left;
}


