$exp-lookit-preferential-looking-AR: 2;
$exp-lookit-preferential-looking-picwidth: 30;
$exp-lookit-preferential-looking-picmargin: 2;

.exp-lookit-preferential-looking #allstimuli, #experiment-player.player-fullscreen .exp-lookit-preferential-looking #allstimuli{
    overflow:hidden;
    position:fixed;
    width: 100vw;
    height: 30vw;
    max-height: 100vh;
    max-width: (100 / $exp-lookit-preferential-looking-picwidth) * 100vh;
    margin: auto;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */
}

.exp-lookit-preferential-looking, .exp-lookit-preferential-looking *
{
    margin:0;
    padding:0;
}

.exp-lookit-preferential-looking video.attn {
    margin:auto;
    max-height: 30%;
}

.exp-lookit-preferential-looking .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-lookit-preferential-looking button {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
    padding: 10px;
    height: 10%;
    width: 30%;
}

.exp-lookit-preferential-looking #player-calibration-video {
    width: $exp-alternation-cal-width;
    max-height: 300px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.exp-lookit-preferential-looking #player-calibration-video.center {
    margin-left: 50% - $exp-alternation-cal-width/2;
}

.exp-lookit-preferential-looking #player-calibration-video.left {
    margin-left: $exp-alternation-left-rect - $exp-alternation-cal-width/2;
}

.exp-lookit-preferential-looking #player-calibration-video.right {
    margin-left: $exp-alternation-right-rect - $exp-alternation-cal-width/2;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-preferential-looking video {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
    max-width: 250px;
    position: relative;
    display: block;
}

#experiment-player:not(.player-fullscreen) .exp-lookit-preferential-looking #allstimuli {
    width:100%;
}

@mixin pic-container($left-pos) {
    min-width: $exp-lookit-preferential-looking-picwidth * 1%;
    max-width: $exp-lookit-preferential-looking-picwidth * 1%;
    left: $left-pos;
    min-height: 100%;
    max-height: 100%;
    top: 0;
    position: absolute;
}

.exp-lookit-preferential-looking #left-container {
    @include pic-container($exp-lookit-preferential-looking-picmargin * 1%);
    //border: thin solid blue;
}

.exp-lookit-preferential-looking #right-container {
    @include pic-container((100 - $exp-lookit-preferential-looking-picmargin - $exp-lookit-preferential-looking-picwidth) * 1%);
    //border: thin solid red;
}

.exp-lookit-preferential-looking #center-container {
    @include pic-container(((100 - $exp-lookit-preferential-looking-picwidth) / 2) * 1%);
    //border: thin solid green;
}

.exp-lookit-preferential-looking img.stim-image {
    //border: thin solid red;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
