.exp-physics-exit-survey .alpaca-field-date.exp-physics-time-entry > input {
    max-width: 200px;
}

.exp-physics-exit-survey .btn-success {
    margin-bottom: 50px;
}

.exp-physics-exit-survey .alpaca-field[data-alpaca-field-name="withdraw"] {
    font-size: small;
    color: rgb(95,95,95);
}
