.exp-video-physics video {
    margin:auto;
}

.exp-video-physics video.intro {
    max-height: 50%;
}

.exp-video-physics video.test:not(.attn) {
    max-height:80%;
    width:100%;
}

.exp-video-physics video.attn {
    max-height: 30%;
}

.exp-video-physics .pause-instructions {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.exp-video-physics #fsButton, .exp-video-physics #nextbutton {
    margin-left: auto;
    margin-right: auto;
    min-height: 75px;
    min-width: 300px;
    position: relative;
    display: block;
    font-size: 2em;
}

#experiment-player:not(.player-fullscreen) .exp-video-physics video {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    display: block;
}

.exp-video-physics #camCheckBox {
    border: medium solid gray;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
}

.exp-video-physics .checkComplete {
    background-color: #d4efdf;
}

.exp-video-physics #reloadButton {
}

.exp-video-physics .recorder-container {
	width:100%;
	height:50vh;
	margin: 0px;
}

.exp-video-physics .recorder {
	padding: 0px;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: #ccc;
	width: 110%;
	height:100%;
	min-width:450px;
	margin-left:-10%;
	clear:both !important;
	position: relative;
}
