.exp-physics-config-quality h2 {
    float:left;

}

.exp-physics-config-quality #not-recording-note {
    color:red;
    float:right;
}

.exp-physics-config-quality hr {
    clear:both;
}

.exp-physics-config-quality .example {
    display:block;
    margin:auto;
}

.exp-physics-config-quality-summary {
    font-weight: bold;
}
