.exp-video-config h2 {
    float:left;
}

.exp-video-config #not-recording-note {
    color:red;
    float:right;
}

.exp-video-config hr {
    clear:both;
}

.exp-video-config ul li {
    margin-top: 20px;
}

.exp-video-config .screenshot {
    display:block;
    margin:auto;
}

.exp-video-config .reload-warning {
    color: red;
}
