.radio.block, .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
}

.alpaca-field-object {
    border: none;
    padding: 0px;
}

.row.body {
    display: table;
    width: 100%;
}

.left-side {
    float: none;
    display: table-cell;
}

.right-side {
    float: none;
    display: table-cell;
}

// A slight hack to fix bootstrap's datetimepicker
// positioning
.form-group {
    position: relative;

    // position it on top of input
    .dropdown-menu {
        top: -245px !important;
    }
}
