.exp-physics-prevideo h2 {
    font-size: large;
}

.exp-physics-prevideo em {
    font-weight: bold;
    font-style: normal;
}


.exp-physics-prevideo .overshoulderpic {
    float: right;
    max-height: 180px;
    border-radius: 10%;
    border: thin solid black;
}

.exp-physics-prevideo li {
    margin-bottom: 20px;
}

.exp-physics-prevideo #audio-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.exp-physics-prevideo .sound-warning {
    color: red;
}
