<div class="row exp-alternation alternation-container">



    <svg viewBox="0 0 200 112">

        <!--Box for left image stream -->
        <rect x="2.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>

        <!--Box for right image stream -->
        <rect x="127.5" y="5.6" width="70" height="100.8" fill="none" stroke="#666" stroke-width=".5"/>


        <!--Define the basic triangle shapes -->
        <defs>
            <polygon    id="fat"
                        stroke="#056090"
                        stroke-width="5px"
                        fill="none"
                        points="-15.1908081668 ,  -7.05007860547
18.1705219916 ,  -7.05007860547
-2.97971382479 ,  14.1001572109"
                        vector-effect="non-scaling-stroke"
                        stroke-linejoin="round"
             />

             <polygon   id="skinny"
                        stroke="#056090"
                        stroke-width="5px"
                        fill="none"
                        points="-34.4519811143 ,  -4.07036478068
23.3315377282 ,  -4.07036478068
11.1204433861 ,  8.14072956135"
                        vector-effect="non-scaling-stroke"
                        stroke-linejoin="round"
             />
        </defs>

        <!--Actual triangles go here -->
        <g id="stimuli">
        </g>

    </svg>

</div>

