<div class="row exp-text" id="exp-physics-pre-video">
    <div class="vertical-pad"></div>
  <div class="col-md-8 col-md-offset-2 exp-physics-prevideo">
    <p>The video section will take about 12 minutes to complete. After that, you'll select a privacy level for your data.</p>
    <h2> During the videos </h2>
    <ul>
      <li>        <img class="overshoulderpic" src="https://s3.amazonaws.com/lookitcontents/exp-physics/OverShoulder.jpg" alt="Father holding child looking over his shoulder"><em>Please face away from the screen</em>, holding your child so he/she can look over your shoulder. Don't look at the videos yourself, or we may not be able to use your child's data! You'll hear spoken updates (“video 5,” etc.) and an all-clear at the end.

      </li>
      <li>You can direct your child's attention by saying things like "What's happening?" But <em> please don't talk about specific things that might be happening in the videos </em> ("Do you see a ball? Is that ball doing something silly?")<br></li>
      <li> We're just measuring where your child looks - he or she doesn't need to point or talk! </li>
    </ul>


    <h2> Pausing and stopping </h2>
    <ul>
      <li>If your child gets fussy or distracted, or you need to attend to something else for a moment, <em>press the space bar to pause the study.</em></li>
      <li>If you won't be back for at least an hour, just <em>close this window or tab to end the session</em>. You'll be prompted to note any technical problems you're experiencing and to select a privacy level for your videos.</li>
    </ul>

    <h2> Test your audio </h2>
    <p> You should hear "Ready to go!" </p>


        <div id="audio-wrapper">
        <audio id="player-audio"
               controls
               onended={{ if mustPlay (action 'soundPlayed') }}
        >

            <source src="https://s3.amazonaws.com/lookitcontents/exp-physics/audio/ready.mp3" type="audio/mp3">
            <source src="https://s3.amazonaws.com/lookitcontents/exp-physics/audio/ready.ogg" type="audio/ogg">

        </audio>

        {{#if showWarning}}
        <div class="sound-warning">
            * Please check that you can play the sample audio.
        </div>
        {{/if}}
        </div>


    <button class="btn btn-default pull-left" {{ action 'previous' }}>
        Previous
    </button>

    <button class="btn btn-success pull-right" {{ action 'checkAudioThenNext' }}>
        Start the videos!
        <br>
        (You'll have a moment to turn around.)
    </button>

  </div>


</div>


