---
dist: trusty
language: node_js

sudo: false

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.cache # includes bowers cache

env:
  matrix:
    - TEST_DIR="exp-models"
    - TEST_DIR="exp-player"

before_install:
  - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - echo $HOME && echo $PATH
  - npm install -g bower

install:
  - cd $TEST_DIR
  - npm link
  - yarn install --pure-lockfile
  - ./node_modules/bower/bin/bower install --config.interactive=false

script:
  - pwd
  - yarn test
