<div class="row exp-video-config-quality">

    <div class="vertical-pad"></div>

    <div class="col-md-10 col-md-offset-1">

        <h2> Webcam setup for preferential looking </h2>

        <p id="not-recording-note">
            No recording during this section
        </p>

        <hr>

    </div>
</div>

<div class="row exp-video-config-quality">

    <div class="col-md-7 col-md-offset-1">

        <p>
            We'll be analyzing where your child chooses to look during the videos--but only if we can tell where that is!
            Please check each of the following to ensure we're able to use your video:
        </p>

        <ol>
            <hr>
            <img class="example" src="assets/centering.png" alt="Center the webcam">
            <li>
                <span class='exp-video-config-quality-summary'>Make sure the webcam you're using is roughly centered</span>
                relative to this monitor. This makes it much easier for us to tell whether your child is looking to the
                left or right!
            </li>

            <hr>
            <img class="example" src="assets/monitors.png" alt="Turn off other monitors">
            <li>
                <span class='exp-video-config-quality-summary'>Turn off any other monitors</span> connected to your
                computer, besides the one with the centered webcam. (If there's just one monitor, you're all set!)
            </li>

            <hr>
            <img class="example" src="assets/distractions.png" alt="Distractions">
            <li>
                If it's practical, <span class='exp-video-config-quality-summary'>minimize exciting things</span> that
                are visible behind or to the side of the screen-- for instance, by facing a wall instead of the kitchen.
                (If this isn't practical for you, don't worry about it!)
            </li>

            <hr>
            <img class="example" src="assets/lighting.png" alt="Lighting example">
            <li>
                Make sure you can <span class='exp-video-config-quality-summary'>clearly see your own eyes</span> on
                the webcam view to the right. You may need to either turn on a light or reduce backlighting (e.g. by
                closing a window curtain behind you).
            </li>
            <hr>

        </ol>


    </div>

    <div class="col-md-4">
        <div class="row" style="height: 45vh">
            <div id="recorder" class="col-md-10 col-md-offset-1" style="height:100%"></div>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <button class="btn btn-success pull-right" {{ action 'next' }} > Next</button>
    </div>


</div>
