<div class="row">
  <div class="col-md-8">
    <p>Okay, we’re ready to go! Remember:</p>
    <br>
    <ul>
      <li>Please don’t look at the videos! You’ll hear updates (“video 5,” etc.) and an all-clear at the end.</li>
      <li>Your child doesn’t need to point!</li>
      <li>To pause the videos, press the space bar.</li>
      <li>To end the study early, close this tab or window.</li>
    </ul>
    <p>Once you press the button below, please hold your child to watch over your shoulder!</p>
  </div>
</div>
<div class="row exp-controls">
  <div class="col-md-8">
    <button class="btn btn-default pull-right" {{ action 'next' }} > Next </button>
  </div>
</div>