<div class="row" id="experiment-player">
    {{
    component currentFrameTemplate
    frameIndex=frameIndex
    frameConfig=currentFrameConfig

    session=session
    saveHandler=(action 'saveFrame')
    next=(action 'next') last=(action 'last') previous=(action 'previous')
    }}
</div>
<div class="col-md-4 pull-right">
    {{#if (and (not isFullscreen) experiment.displayFullscreen)}}
    <button class="btn btn-warning pull-right" {{ action 'showFullscreen' }}>Return to fullscreen</button>
    {{/if}}
</div>