<div class="row">
    {{
    component currentFrameTemplate
    frameIndex=frameIndex
    frameConfig=currentFrameConfig

    saveHandler=(action 'saveFrame')
    next=(action 'next') last=(action 'last') previous=(action 'previous')
    }}
</div>