<div class="row">
    {{
    component currentFrameTemplate
    ctx=currentFrameCtx
    data=currentFrameData
    params=currentFrame
    saveHandler=(action 'saveFrame')
    next=(action 'next') last=(action 'last') previous=(action 'previous')
    }}
</div>