<div class="row exp-text">
    <div class="vertical-pad"></div>
    <div class="col-md-8 col-md-offset-2">
      <p>During the videos, we'll ask that you hold your child over your shoulder, so that you face away from the screen. </p>
      <br>
      <img id="overshoulderpic" class="exp-physics-preview-explanation-overshoulderpic" src="https://s3.amazonaws.com/lookitcontents/exp-physics/OverShoulder.jpg" alt="Father holding child looking over his shoulder">
      <br>
      <p>The reason we ask this is that your child is learning from you all the time. Even if he or she can't see where you're looking, you may unconsciously shift to face the "unexpected" events and influence your child's attention. We want to make sure we're measuring your child's own intuitions, rather than yours! (We know <em>you</em> know whether things should fall up or down.)</p>
      <br>
      <p>If you'd like to see the videos your child will be shown, you can take a look ahead of time now. It's important that you do this <em>without</em> your child, so that these videos will still be new to him or her!</p>
      <br>
    </div>
</div>

<div class="row exp-controls col-md-12">
    <button class="btn btn-default pull-left" {{ action 'previous' }} > Previous </button>
    <button class="btn btn-primary pull-right" {{ action 'next' }} > I'd like to preview the videos </button>
</div>

<div class="exp-controls col-md-12 row">
    <button class="btn btn-success pull-right" {{ action 'skipone' }} > Skip preview </button>
</div>