<div class="row">
  <div class="col-md-8">
  <p>During the videos, we ask that you hold your child over your shoulder so that he or she is facing the screen and you're facing away. Please don't look at the videos yourself, unless you need to turn around to pause the study!</p>
  <br>
  <p>The reason we ask this is that your child is learning from you all the time, and looks to you for cues about what's interesting. Even if he or she can't see where you're looking, you may unconsciously shift to face the "unexpected" events and influence your child's attention. We want to make sure we're measuring your child's own intuitions, rather than yours!</p>
  <br>
  <p>If you'd like to see the videos your child will be shown, you can take a look ahead of time now. Please do this without your child, so that these particular videos will be new to him or her!</p>
  <br>
  </div>
</div>
<div class="row exp-controls">
  <div class="col-md-8">
    <button class="btn btn-default pull-right" {{ action 'next' }} > Preview videos </button>
    <button class="btn btn-default pull-right" {{ action 'skipone'}} > Skip preview </button>
  </div>
</div>
