<div class="row">
  <div class="col-md-8">
  <p>In this study, your child will see about 30 very short video clips of physical events. On one side, something “expected” or normal will happen: e.g., a ball will roll off a table and fall to the ground. On the other side, something unexpected will happen: e.g., the same ball will roll off a table and fall up!</p>
  <br>
  <p>There are also some “control” video clips where the leW and right sides are iden-cal, or where one side moves and the other doesn’t. These are to measure your child’s basic “looking personality”: for instance, does he or she prefer to look at the same thing for a while, or switch back and forth?</p>
  <br>
  <p>We’re just measuring where your child looks, which we can tell from your webcam recording. Your child doesn’t need to point!</p>
  <br>
  <p>Altogether, these videos are about 10 minutes long. AWer the videos, you’ll have a chance to give any feedback and to select a privacy level for your webcam recording.</p>
  <br>
  <p>Pausing and stopping:</p>
  <div class="row exp-physics-info-offset">
    <p>Ideally, you’ll complete the whole study at once. But we know life isn’t always that easy!</p>
    <ul>
      <li>Taking a break: If your child gets fussy or distracted, or you need to a]end to something else for a moment, just press the space bar to pause the videos.</li>
      <li>If you won’t be back for at least an hour, just close this window or tab. You’ll be prompted to note any technical problems you’re experiencing and to select a privacy level for your videos early.</li>
    </ul>
  </div>
  </div>
</div>
<div class="row exp-controls">
  <div class="col-md-8">
    <button class="btn btn-default pull-right" {{ action 'next' }} > Next </button>
  </div>
</div>
