<div class="row">
    <div class="col-xs-12">
        {{#if (and (not isFullscreen) experiment.displayFullscreen)}}
            <button style="width: 100%" class="btn btn-warning" {{ action 'showFullscreen' }}>Return to fullscreen</button>
        {{/if}}
    </div>
</div>

<div class="row" id="experiment-player">
<div class="col-xs-12">
    <div id="component-here">
        {{
        component currentFrameTemplate
        frameIndex=frameIndex
        frameConfig=currentFrameConfig
        frameContext=currentFrameContext

        session=session
        experiment=experiment

        next=(action 'next')
        previous=(action 'previous')
        saveHandler=(action 'saveFrame')
        }}
    </div>
</div>
</div>

