<div class="col-md-8">
  {{
  component currentFrameTemplate
  ctx=currentFrameCtx
  data=currentFrameData
  params=currentFrame
  saveHandler=(action 'saveFrame')
  next=(action 'next') last=(action 'last') previous=(action 'previous')
  }}
</div>
