<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <p>{{instructions}}</p>
    <p><em>* Please note: we are <strong>not</strong> recording any video during this setup.</em></p>
  </div>
</div>
<div class="row" style="height: 80vh">
  <div id="recorder" class="col-xs-12 col-md-10 col-md-offset-1" style="height:100%"></div>
</div>
<br>
<div class="row exp-controls">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-default" {{ action 'next' }} > Next </button>
      </div>
    </div>
  </div>
</div>
