<div class="col-md-8">
    <div class="row">
        <div class="col-md-8">
            {{
            component currentFrameTemplate
            ctx=currentFrameCtx
            data=currentFrameData
            params=currentFrame
            next=(action 'next') last=(action 'last') previous=(action 'previous')
            }}
        </div>
    </div>
</div>
