<div class="row">
  <h3>{{t 'thankyou.title'}}</h3><br>
  <p class="break-line">{{t 'thankyou.instructions'}}</p>
</div>
<div class="row exp-controls">
    <div class="pull-right">
        {{#link-to exitUrl class="btn btn-default pull-right"}}
            {{t 'thankyou.exitButton'}}
        {{/link-to}}
        <br>
        {{#link-to resultsUrl class="btn btn-primary pull-right"}}
            {{t 'thankyou.personalityFeedbackButton'}}
        {{/link-to}}
    </div>
</div>
